*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #23232c;
    color: #fff;
    width: 100%;
}

.texto-top-info{
    text-align: center;
}

#header-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}

.padre-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-navbar{
    object-fit: contain;
}

.list-link-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.link-nav:hover{
    transition: all 0.5s linear;
    border-radius: 20px;
    padding: 5px;
    color: #ffffff;
    background-color: #dc3545;
    transform: scale(1.1);
}

@media (min-width: 576px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .list-link-nav{
        flex-direction: row;
        gap: 30px;
    }
}