*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #23232c;
    color: #fff;
    width: 100%;
}

.envios-top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-top-info{
    height: 16px;
    width: 16px;
}

.texto-top-info{
    text-align: center;
}

.link-top-info{
    color: #d2d6d9ad;
    text-decoration: none;
    font-size: 13px;
}

.link-top-info:hover{
    text-decoration: underline;
    color: #d2d6d9ad;
}

#header-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
}

.padre-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-navbar{
    object-fit: contain;
}

.list-link-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.link-nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.link-nav:hover{
    transition: all 0.5s linear;
    border-radius: 20px;
    padding: 5px;
    color: #ffffff;
    background-color: #dc3545;
    transform: scale(1.1);
}

#banner{
    margin-top: 150px;
}

.banner-home{
    height: 60%;
    width: 100%;
}

#articulos-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.titulo-articulos-home{
    font-weight: 600;
}

.cards-articulos-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-home{
    width: 80%;
}

.text-card-home{
    font-weight: 600;
}


@media (min-width: 1024px){
    .top-info{
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }
    .envios-top-info{
        flex-direction: row;
        gap: 10px;
    }
    .cards-articulos-home{
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 50px;
    }
}

@media (min-width: 576px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .list-link-nav{
        flex-direction: row;
        gap: 30px;
    }
    #banner{
        margin-top: 110px;
    }
}

@media (max-width: 478px){
    #banner{
        margin-top: 175px;
    }
}

@media (min-width: 500px){
    .card-home{
        width: 18rem;
    }
}

@media (max-width: 210px){
    #banner{
        margin-top: 200px;
    }
}

@media (max-width: 165px){
    #banner{
        margin-top: 225px;
    }
}

@media (max-width: 150px){
    #banner{
        margin-top: 260px;
    }
}
