*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #23232c;
    color: #fff;
    width: 100%;
}

.envios-top-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-top-info{
    height: 16px;
    width: 16px;
}

.texto-top-info{
    text-align: center;
}

.link-top-info{
    color: #d2d6d9ad;
    text-decoration: none;
    font-size: 13px;
}

.link-top-info:hover{
    text-decoration: underline;
    color: #d2d6d9ad;
}

#header-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
}

.padre-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-navbar{
    object-fit: contain;
}

.list-link-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.link-nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.link-nav:hover{
    transition: all 0.5s linear;
    border-radius: 20px;
    padding: 5px;
    color: #ffffff;
    background-color: #dc3545;
    transform: scale(1.1);
}

#banner{
    margin-top: 150px;
}

.banner-home{
    height: 60%;
    width: 100%;
}

#articulos-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.titulo-articulos-home{
    margin-top: 20px;
    font-weight: 600;
}

.seccion-cards-productos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card-productos{
    width: 140px;
    border: none;
}

.titulo-card-productos{
    font-size: 14px;
}

.precio-sneaker{
    font-weight: 700;
    border-bottom: 1px solid #008900;
    color: #016001;
}

#envios-pagos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
    background-color: #1414141a;
    width: 100%;
}

.items-envios-pagos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-servicios{
    font-weight: 600;
}

.items-envios-pagos h6{
    color: #141414;
    font-weight: 200;
}

#newsLetters-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #14141433;
    padding-top: 10px;
    gap: 15px;
}

.form-newsLetters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-form-newsLetters{
    font-weight: 600;
    color: #141414;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
}

.inputs-newsLetters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-email{
    color: #141414;
    background-color: #fff;
    border: 2px solid #141414;
    height: 40px;
    padding: 7px;
}

.form-submit{
    font-weight: 200;
    text-transform: uppercase;
    padding: 7px;
    color: #fff;
    background-color: #141414;
    border: 1px solid #141414;
}

.redes-contactos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.imagen-redes{
    transform: scale(0.8);
}

.imagen-redes:hover{
    transform: scale(1);
    transition: all 0.7s ease;
}

.seccion-contactos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-contactos{
    color: #141414;
    font-weight: 600;
    text-transform: uppercase;
}

.lista-contactos{
    list-style-type: none;
}

.link-lista-contactos{
    text-decoration: none;
    color: #141414
}

.link-lista-contactos:hover{
    text-decoration: underline;
    color: #141414;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000005c;
    padding: 15px;
}

.texto-footer{
    text-align: center;
    font-weight: 200;
    color: #23232c;
}

.link-instagram-footer{
    text-decoration: none;
    color: #23232c;
    font-weight: 200;
}

.link-instagram-footer:hover{
    color: #23232c;
    text-decoration: underline;
}

.icono-instagram-footer{
    height: 20px;
    width: 20px;
}

.seccion-productos{
    margin-top: 175px;
    gap: 15px;
}

.titulo-seccion-productos{
    font-weight: 200;
    color: #141414;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #14141499;
    padding-bottom: 10px;
}

.banner-productos-jordan{
    width: 100%;
    object-fit: contain;
    margin-top: 20px;
}

.titulos-marcas-productos{
    font-weight: 200;
    color: #141414;
    font-size: 1.5rem;
    text-align: left;
    border-bottom: 1px ridge #14141499;
    padding-bottom: 10px;
    margin-top: 25px;
}

.titulo-hype{
    font-weight: 700;
    font-size: 0.9rem;
}

.texto-uncoming{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000;
}

@media (min-width: 1024px){
    .top-info{
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }
    .envios-top-info{
        flex-direction: row;
        gap: 10px;
    }
    .seccion-cards-productos{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }
    .card-productos{
        width: 200px;
    }
    #newsLetters-contacto{
        flex-direction: row;
        padding-top: 15px;
        justify-content: space-around;
        padding: 20px;
    }
    #footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 25px;
    }
    .icono-sneaker-footer{
        padding-right: 170px;
    }
}

@media (min-width: 576px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .list-link-nav{
        flex-direction: row;
        gap: 30px;
    }
    #banner{
        margin-top: 110px;
    }
    #envios-pagos{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0px;
        margin-top: 0px;
    }
}

@media (max-width: 478px){
    #banner{
        margin-top: 175px;
    }
    .imagen-redes{
        transform: scale(0.65);
    }
}

@media (max-width: 300px){
    .inputs-newsLetters{
        flex-direction: column;
    }
}

@media (max-width: 250px){
    .link-lista-contactos{
        font-size: 0.75rem;
    }
    .imagen-redes{
        transform: scale(0.5);
    }
    .imagen-redes:hover{
        transform: scale(0.7);
    }
    .texto-uncoming{
        font-size: 1.1rem;
    }
    .items-envios-pagos{
        width: 85px;
    }
}

@media(max-width: 225px){
    .form-email{
        width: 90%;
    }
}

@media (max-width: 210px){
    #banner{
        margin-top: 200px;
    }
    #articulos-home{
        align-items: inherit;
    }
    .link-lista-contactos{
        font-size: 0.5rem;
        text-align: center;
        font-weight: 600;
    }
    .texto-uncoming{
        font-size: 0.7rem;
    }
}

@media(max-width: 170px){
    .card-productos{
        width: 120px;
    }
}

@media (max-width: 165px){
    #banner{
        margin-top: 225px;
    }
    .imagen-redes{
        width: 90%;
    }
}

@media (max-width: 150px){
    #banner{
        margin-top: 260px;
    }
}
